body {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}

#message.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
